<h1>Stupid Coaching</h1>

<h2>Ta Question :</h2>
<p><%= @question %></p>

<h1>Réponse :</h1>
<p><%= @answer %></p>

<%= link_to "Retourner à la page questions", controller: "questions", action: "ask" %>
